<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>concierto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/concierto.jpg" alt="Concierto">
  </ion-thumbnail>
  <ion-label>
    <h2>Concierto</h2>
    <p>Descripción del concierto.</p>
    <h2>Entradas</h2>
    <h2>Precios</h2>
  </ion-label>
  <ion-button slot="end" color="primary">Comprar</ion-button>
</ion-item>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">concierto</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
